
}
h1{
  text-align: center;
}
h3{
  text-align: center;
}
h4{
  text-align: center;
}

body{
  text-align: center;
}

.para1{
  text-align: left;
}
.box{
  border: 2px solid #af0303;
  padding: 4px;
  background-color: #f9ae00;
}
